@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

.main-box {
    background-color: white;
    max-width: 751px;
    max-height: 619px ;
    margin: 30px auto;
    display: block;
    justify-items: center;
    border-radius: 64px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
}

.upload-box {
    background-color: #d3d3d3;
    width: 80%;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.upload-file-button{
    background: #F3F3F3;
    width: 157px;
    height: 96px;
    display: block;
    justify-items: center;
    border-radius: 30px;
}

.done {
    background-color: #76DA5E;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 29px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 450px;
    margin-top: 20px;
}

.done:hover {
    background-color: #45a049;
}

.upload-box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.delete-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

                        /* RESPONSIVE DISP FUNC  */

@media (max-width: 1024px) {
    .main-box {
        padding: 30px;
        border-radius: 50px;
        max-height: none;
    }

    .title {
        font-size: 32px;
    }

    .upload-box {
        width: 90%;
        font-size: 1rem;
    }

    .done {
        width: 350px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .main-box {
        padding: 20px;
        margin: 20px 10px;
        border-radius: 30px;
    }

    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .title {
        font-size: 28px;
    }

    .upload-box {
        width: 100%;
        aspect-ratio: 8 / 3;
        font-size: 0.9rem;
    }

    .upload-file-button {
        width: 120px;
        height: 80px;
        border-radius: 20px;
    }

    .done {
        width: 90%;
        font-size: 0.8rem;
        padding: 8px 90px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }

    .upload-box {
        aspect-ratio: 7 / 3;
        font-size: 0.8rem;
    }

    .done {
        width: 100%;
        font-size: 0.7rem;
        padding: 6px 90px;
    }
}