@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.pre-order-container h1 {
    font-family: 'Modak', cursive;
    font-size: 64px;
    margin: 0;
    color: #FFFFFF;
}

.total-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    border-radius: 28px;
    background: #f0f0f0;
    margin-left: 10px;
    width: 282px;
    height: 67px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-logo-container img {
    height: 100%;
    padding: 10px;
}

.total h2 {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
    justify-items: center;
}

.box {
    background-color: #F3F3F3;
    border-radius: 54px;
    width: 295px;
    height: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.box:hover::after {
    opacity: 1;
}

.frame {
    height: auto;
}

.frame img {
    width: 100%;
    height: auto;
    border-radius: 54px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.box:hover .frame img {
    opacity: 0.7;
}

.quantity-container {
    display: none;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    justify-content: space-around;
}

.box:hover .quantity-container {
    display: flex;
}

button {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bbb;
}

.quantity-display {
    font-size: 20px;
    font-weight: regular;
    color: #ffffff;
    padding: 20px;
}

.box .quantity-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.frame img {
    width: 222px;
    height: 146px;
    border-radius: 54px;
    object-fit: cover;
}

.menu-name {
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.price {
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000d2;
}
                        /*CART*/
.cart-button { 
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px; 
    height: 60px; 
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000; 
}

.cart-button:hover {
    background-color: #f0f0f0;
}

.cart-button img {
    width: 30px;
    height: auto;
}

.cart-box {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collapse {
    transition: none !important;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 0;
}

.cart-header h3 {
    font-size: 20px;
    align-items: center;
    margin-bottom: 0;
}

.cart-items {
    flex-grow: 1;
    max-height: 70%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cart-item-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-item .quantity, .cart-item .name, .cart-item .price {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.cart-item .price {
    text-align: right;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    font-weight: bold;                 
    color: black;
}

.make-order-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    line-height: normal;
}

.make-order-btn:hover {
    background-color: #45a049;
}


/* Close Button */
.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

                         /* RESPONSIVE DISP FUNC  */

@media (max-width: 480px) {
    .total-container {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 991.98px) {
    .pre-order-container {
        width: 100%;
        text-align: center; 
    }

    .total-container {
        width: 100%;
        justify-content: center;
    }

    .cart-logo-container {
        margin-right: 10px;
    }

    .menu-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .box {
        width: 100%;
        height: auto;
        max-width: 280px;
        margin: 0 auto;
    }

    .frame img {
        width: 100%;
        height: auto;
        max-width: 222px;
    }

    .total-container {
        flex-direction: row;
        gap: 5px;
        align-items: center;
    }

    .total-container h2 {
        font-size: 20px;
    }
}

